*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Manrope";
  src: url("./font-family/static/Manrope-ExtraBold.ttf");
}

:root {
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
  --grayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
  --font-size-1: 2.8rem;
  --font-family-manrope-extra-bold: "Manrope";
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family-manrope-extra-bold);
  background-color: var(--darkGrayishBlue);
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advice {
  --grayishBlue: hsl(217, 18%, 30%);
  background-color: var(--grayishBlue);
  position: relative;
  border-radius: 10px;
  width: 94%;
  max-width: 40.7rem;
  margin: 0 auto;
  padding: 4.3rem 1.5rem 6.3rem;
}

.advice__id {
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 2.6rem;
  color: var(--neonGreen);
}

.advice__text {
  font-size: 2.8rem;
  text-align: center;
  color: var(--lightCyan);
}

.pattern-divider {
  display: block;
  width: 95%;
  margin: 2.6rem auto 0;
}

.dice-container {
  background-color: var(--neonGreen);
  border: none;
  outline: none;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  margin: 0 auto;
  transform: translateY(50%);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-container:hover {
  cursor: pointer;
  box-shadow: 0 0 10px var(--neonGreen), 0 0 20px var(--neonGreen),
    0 0 30px var(--neonGreen), 0 0 40px var(--neonGreen);
}

footer {
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: red;
}

/* media query*/
@media (min-width: 64rem) {
  .advice {
    padding: 5.1rem 3rem 7.1rem;
    max-width: 54.2rem;
    width: 53%;
  }

  .advice__id {
    margin-bottom: 3.4rem;
  }

  .pattern-divider {
    display: block;
    margin: 3.9rem auto 0;
    width: 88%;
  }
}
